* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'arial', sans-serif;
	font-size: 18px;
	background: #100e14;
}

h2 {
	text-align: center;
	margin-bottom: 20px;
}

/* Spielinfo */
#player-info {
	height: 100vh;
	width: 22%;
	position: fixed;
	left: 0;
	top: 0;
	background: #c7c4ff;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
}

#player-info h2 {
	margin-bottom: 50px;
}

#player-info div {
	margin-bottom: 40px;
	text-align: center;
}

#player-info div span {
	display: block;
}

#player-info .player-name {
	font-weight: bold;
	color: #6c0003;
}

/* Spielbrett */
#card-field {
	height: auto;
	max-width: 78%;
	padding: 20px;
	box-sizing: border-box;
	margin-left: 20%;
}

#card-field h2 {
	color: white;
}

#card-div {
	position: relative;
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	perspective: 1500;
}

.card {
	height: 175px;
	width: 175px;
	border-radius: 15px;
	margin: 0px 20px 20px 0px;
	text-align: center;
	line-height: 175px;
	position: relative;
	background: #c7c4ff;
}

.hidden {
	
	height: 175px;
	width: 175px;
	border-radius: 15px;
	margin: 0px 20px 20px 0px;
	text-align: center;
	line-height: 175px;
	position: relative;
	background: #d00000;
	color: #d00000;
}

.hidden span {
	display: none;
}

.taken {
	height: 175px;
	width: 175px;
	border-radius: 15px;
	margin: 0px 20px 20px 0px;
	text-align: center;
	line-height: 175px;
	position: relative;
	background: black;
}

.taken span {
	display: none;
}